# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
#MONGO_URI=mongodb+srv://mongodb://localhost:27017

# Session Secret
SESSION_SECRET=your_very_strong_session_secret_key

# Gemini Secret Key
GEMINI_API_KEY=your_google_gemini_api_key_here
